.container
  p
    a(href='https://github.com/natchiketa/nat-tripppal') TripPal
    = ' | '
    a(href='https://twitter.com/natchiketa') @natchiketa
    = ' | '
    span
      = 'Built with '
    a(href='https://github.com/DaftMonk/generator-angular-fullstack') generator-angular-fullstack
