header#banner.hero-unit
  .container
    h1 TripPal

.main__actions
  .main__action-list
    ul.nav.nav-tabs.nav-stacked
      li
        a(href='/trips') View your trips
      li
        a(href='/travel-plan') Print trips for the next month
